.button {
    height: 48px;
    font-size: 16px;
    padding-left: 67px;
    padding-right: 67px;
    border-radius: 8px;
    filter: brightness(1.25);
}

.button_text-white {
    color: var(--white);
    border: 0;
}

.button-primary {
    background: var(--blue);
}

.button-secondary {
    background: var(--purple);
}

.button-alternate {
    background: var(--white);
    border: 1px solid #ACB5BD;
}

.button:hover {
    filter: brightness(1);
}

.button-alternate:hover {
    border: 1px solid var(--black);
}

.button:disabled {
    filter: blur(0.75px) brightness(1.75);
    cursor: not-allowed;
}

.button:active {
    cursor: pointer;
}