.page {
    min-height: 100vh;
}

.page_with-grid {
    display: grid;
    grid-template-rows: 82px 1fr 166px;
    background-color: #F9FAFC;
}

.page_header {
    height: 82px;
    background-color: var(--white);
}

.page_main {
    width: 100%;
    max-width: 1100px;
    padding-top: 36px;
    justify-self: center;
    display: grid;
    grid-template-columns: 229px 1fr;
    gap: 50px;
}

.page_main-menu {
    width: 100%;
    height: 100%;
    max-width: 229px;
    max-height: 264px;
}

.page_main-content {
    background-color: var(--white);
}

.page_footer {
    font-family: 'Inter', sans-serif;
    text-align: center;
    padding-top: 92px;
    padding-bottom: 56px;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--grey-3);
}