.avatar {
    border-radius: 50%;
    object-fit: cover;
}

.avatar_64 {
    width: 64px;
    height: 64px;
}

.avatar_102 {
    width: 102px;
    height: 102px;
}

.avatar_160 {
    width: 160px;
    height: 160px;
}