.footer {
    font-family: 'Inter', sans-serif;
    text-align: center;
}

.footer__title {
    margin-top: 71px;
    margin-bottom: 32px;
}

.footer__text {
    margin-top: 0;
    margin-bottom: 136px;
    margin-left: auto;
    margin-right: auto;
    width: 640px;
}

.footer__label {
    padding-top: 92px;
    padding-bottom: 56px;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
}

.footer__label_color {
    color: var(--grey-3);
}