.footer__container {
    font-family: 'Inter', sans-serif;
    text-align: center;
    padding-top: 71px;
    padding-left: 235px;
    padding-right: 235px;
    padding-bottom: 136px;
}

.footer__title {
    margin-top: 0;
    margin-bottom: 32px;
}

.footer__text {
    margin-top: 0;
    margin-bottom: 0;
}